In [1]:
!jupyter nbextension enable --py gmaps
!jupyter nbextension enable --py widgetsnbextension
%matplotlib inline

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok
Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok

In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
# Configure gmaps to use your Google API key.
gmaps.configure(api_key = g_key)

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Tasiilaq,65.6145,-37.6368,15.96,86,60,3.94,GL,2022-04-10 23:14:16
1,1,Leningradskiy,69.3833,178.4167,0.28,89,70,4.97,RU,2022-04-10 23:14:17
2,2,Provideniya,64.3833,-173.3000,26.71,80,100,8.99,RU,2022-04-10 23:14:03
3,3,Barrow,71.2906,-156.7887,1.42,71,100,18.41,US,2022-04-10 23:14:17
4,4,Arraial Do Cabo,-22.9661,-42.0278,75.88,81,51,6.96,BR,2022-04-10 23:14:17

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
4,4,Arraial Do Cabo,-22.9661,-42.0278,75.88,81,51,6.96,BR,2022-04-10 23:14:17
6,6,Alto Araguaia,-17.3147,-53.2153,76.01,73,66,2.57,BR,2022-04-10 23:14:18
7,7,Vaini,-21.2000,-175.2000,78.96,89,75,6.91,TO,2022-04-10 23:14:19
21,21,Rikitea,-23.1203,-134.9692,79.54,72,3,17.76,PF,2022-04-10 23:14:24
27,27,Kirakira,-10.4544,161.9205,82.54,78,81,3.94,SB,2022-04-10 23:14:26
30,30,Kralendijk,12.1500,-68.2667,78.46,87,94,20.40,BQ,2022-04-10 23:14:26
32,32,Saint-Pierre,-21.3393,55.4781,76.68,81,75,12.66,RE,2022-04-10 23:14:27
33,33,San Cristobal,7.7669,-72.2250,75.38,61,96,1.34,VE,2022-04-10 23:14:27
35,35,Kapaa,22.0752,-159.3190,80.58,82,100,12.66,US,2022-04-10 23:14:28
40,40,Lompoc,34.6391,-120.4579,76.12,59,0,28.01,US,2022-04-10 23:14:30

In [16]:
preferred_cities_df.count()

City_ID       177
City          177
Lat           177
Lng           177
Max Temp      177
Humidity      177
Cloudiness    177
Wind Speed    177
Country       177
Date          177
dtype: int64