In [7]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [8]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Tasiilaq,65.6145,-37.6368,15.96,86,60,3.94,GL,2022-04-10 23:14:16
1,1,Leningradskiy,69.3833,178.4167,0.28,89,70,4.97,RU,2022-04-10 23:14:17
2,2,Provideniya,64.3833,-173.3000,26.71,80,100,8.99,RU,2022-04-10 23:14:03
3,3,Barrow,71.2906,-156.7887,1.42,71,100,18.41,US,2022-04-10 23:14:17
4,4,Arraial Do Cabo,-22.9661,-42.0278,75.88,81,51,6.96,BR,2022-04-10 23:14:17

In [9]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [10]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [11]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)                                       
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))